@import '../vars.scss';

.Navbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow:  0 4px 10px rgba(0,0,0,0.15);
    height: 80px;
    z-index: 1000;
    &__Wrapper{
        width: 1170px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__Logo{
            a{
                color: $colorAccent;
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
            }
            
        }
        &__Name{
            font-weight: 700;
            font-size: 20px;
        }
    }
}